.modal {
  position: absolute;
  top: calc(50% - 192px / 2);
  left:calc(50% - 150px);
  box-shadow: 10px 10px 5px 5px hsla(0, 0%, 87%, 0.7);

  max-width: 300px;
  min-width: 258px;
  border: 1px solid #d3d3d3;
  border-radius: var(--main-br);
  background-color: #fff;

  padding: 30px;
  margin: 0 auto;
}

.modal__form {
  text-align: center;
}

.modal__title {
  font-size: 110%;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.modal__err-msg {
  font-size: 80%;
  font-style: italic;

  color: coral;
}

.modal__value {
  width: 100%;

  border: none;
  border-radius: var(--main-br);
  box-shadow: inset 0 0 5px 0 #d3d3d3;

  font-size: 120%;
  line-height: 100%;
  text-align: center;

  outline: none;

  padding: 5px 10px;
}

.modal__value:focus {
  box-shadow: inset 0 0 5px 0 #bababa;
}

.modal__btn {
  width: 100%;

  font-size: 100%;
  border-radius: var(--main-br);

  padding: 5px;
  margin-top: 10px;
}
