[data-visibility="hidden"] {
  display: none;
}

/* visually-hidden*/
[data-visibility="v-hidden"] {
  position: absolute;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

[data-visibility="shaded"] {
  opacity: 0.3;
}
