[data-visibility="d-none"] {
  display: none;
}

[data-visibility="v-hidden"] {
   visibility: hidden;
}

[data-visibility="shaded"] {
  opacity: 0.3;
}

[data-id="user-name"] {
  font-weight: 700;
}
